<hr>
<h1>Questions and Answers</h1>
<hr>
{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Contact{{/link-to}}
<hr>
<ul>
  {{#each model as |question|}}
    <li>Question: {{question.content}}</li>
    <li>Author: {{question.user}}</li>
    <li>{{question.notes}}</li>
  {{/each}}
</ul>

{{new-question saveQuestion="saveQuestion"}}
