<hr>
<h1>Questions and Answers</h1>
<hr>
{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Contact{{/link-to}}
<hr>
<ul class="unordered-list">
  {{#each model as |question|}}
    <li>Question: {{question.content}}</li>
    <li> Author: {{question.user}}</li>
  {{/each}}
</ul>
